<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title>{{ site.title }}</title>
   <link rel="stylesheet" href="{{ site.path }}/css/style.css" >
   <link rel="shortcut icon" href="https://koyu.space/favicon.ico">
   <link rel="me" href="https://koyu.space/@koyu">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
   <script src="{{ site.path }}/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">
   <style>
     @media(prefers-color-scheme: dark) {
       body {
         background: #222;
         color: #fff;
       }
     }
   </style>
</head>
<body>
    <div class="container">
      <div class="content">
        {{ content }}
      </div>
    </div>
</body>
</html>
